
body {
    font-family: sans-serif;
}

.center {
    width: 95%;
    margin: auto;
    text-align: center;
}

p {
    text-align: center;
}

.meta1 {
    background-color: #FFFFCC;
    padding: 10px;
}

h2 {
    background-color: #D1E0EC;
    padding: 24px;
    border-radius: 20;
}









