<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pol-Action Public Official Search Tool</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="application/json; charset=UTF-8"/>

</head>

<body>
<p id="offices">

</p>

<script>
var offices = '${offices}';

var obj = JSON.parse(offices);

document.getElementById("offices").innerHTML =
obj.officeName + "<br>";


</script>
</body>
</html>