<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pol-Action Public Official Search Tool</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{css/publicresponse.css}" rel="stylesheet" />
</head>

<body>


<div class="meta1">
<form th:action="@{/delete}">
    <p th:text = "'Warning: This will delete all prior searches'"></p>
    <div class="center">
    <input type="submit" th:name="delete" value="Delete" />
    </div>
</form>
</div>

<div class="center">
<p th:text="'Current search location: ' + ${locationData}" >location data</p>
<form th:action="@{/api}">
    <p th:text = "'All locations searched: ' + ${locationAggregated}">aggregated locations</p>
    <input type="text" th:name="lookup"/>
    <input type="submit"/>
    <p th:text = "'Adding another location will append the result to the last search'"></p>

</form>


    <th:block th:each = "office : ${offices}">
        <h2 th:text="${office.officeName}">office name</h2>
        <p th:text="'Office occupancy: ' + ${office.countInThisOffice}">office occupancy</p>

        <th:block th:each = "official: ${office.officials}">
        <h3 th:text = "${official.name}">official name</h3>
        <hr th:class="headerline" style="height:9px; background-color: #F6676A; border-color: red;"/>
        <img th:src="${official.photoUrl}" />
        <p th:text = "${official.party}">party affiliation</p>
        <p th:each = "phones: ${official.phones}" th:text = "${phones.phone}">phone number</p>
        <p th:each = "emails: ${official.emails}" th:text = "${emails.email}">email address</p>
        <a th:each = "urls: ${official.urls}" th:href="${urls.url}">Website</a>
        <p th:each = "addressElement: ${official.address}" th:text = "${addressElement.line1} +  ' ' + ${addressElement.city} + ' ' + ${addressElement.state} + ', ' + ${addressElement.zip}">address</p>

        <th:block th:each = "channels: ${official.channels}">
            <p th:text = "${channels.type} + ' ' + ${channels.id}">social media channel</p>
        </th:block>

        <hr class="dividerline"/>
    </th:block>
        <br><br>
</th:block>
<br><br><br>
<form th:action="@{/api}">
    <p th:text = "'Adding another location will append the result to the last search'"></p>
    <input type="text" th:name="lookup"/>
    <input type="submit"/>
</form>
</div>
</body>
</html>