<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pol-Action Public Official Search Tool</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{css/publicresponse.css}" rel="stylesheet" />
</head>
<body>

<br>
<div class="alert">
    <form th:action="@{/delete}">
        <input type="submit" th:name="delete" value="Delete" />
    </form>
</div>
<div class="search">
    <form th:action="@{/api}">
        <p th:text = "'Searches: ' + ${locationAggregated}">aggregated locations</p>
        <p th:text = "'Append a location'"></p>
        <input type="text" th:name="lookup"/>
        <input type="submit"/>
    </form>
</div>
<br>

<th:block th:each = "office : ${offices}">
    <h2 class="office" th:text="${office.officeName}">office name</h2>
    <p class="occupancy" th:text="'Office occupancy: ' + ${office.countInThisOffice}">office occupancy</p>

    <div class="officialcard">
        <th:block th:each = "official: ${office.officials}">
        <hr th:class="headerline" style="height:9px; background-color: #B22234;"/>
        <img th:src="${official.photoUrl}" /><h3 th:text = "${official.name}">official name</h3>
        <p th:text = "${official.party}">party affiliation</p>
        <p th:each = "phones: ${official.phones}" th:text = "${phones.phone}">phone number</p>
        <p th:each = "emails: ${official.emails}" th:text = "${emails.email}">email address</p>
        <a th:each = "urls: ${official.urls}" th:href="${urls.url}">Website</a>
            <br><br>
        <address th:each = "addressElement: ${official.address}" th:text = "${addressElement.line1} +  ' ' + ${addressElement.city} + ' ' + ${addressElement.state} + ' ' + ${addressElement.zip}">address</address>
            <th:block th:each = "channels: ${official.channels}">
                <p th:text = "${channels.type} + ' ' + ${channels.id}">social media channel</p>
            </th:block>
        <hr class="dividerline" style="height:3px; background-color: #B22234;"/>
        </th:block>
    </div>
<br><br>
</th:block>

<div class="search">
    <form th:action="@{/api}">
        <p th:text = "'Append a location'"></p>
        <input type="text" th:name="lookup"/>
        <input type="submit"/>
    </form>
</div>
<br>
</body>
</html>